/* You can add global styles to this file, and also import other style files */
/* Show it is fixed to the top */
body {
  padding-top: 4.5rem;
}

.toast-position {
  top: 68px;
  right: 12px;
}

.pointer {
    cursor: pointer;
}

.scroller {
    height: 94vh;
    overflow-y: scroll;
}