<div>
  <tabset>
    <tab heading="Reasoner">
      <div class="row">
        <div class="col-sm-3">
          <h2>Symptoms</h2>
          <label for="symptom">Search symptom</label>
          <input name="symptom" [(ngModel)]="selectedSymptomName" [typeahead]="allSymptoms" class="form-control" typeaheadOptionField="name"
            (typeaheadOnSelect)="symptomSelected($event)" [typeaheadMinLength]="0" [typeaheadOptionsInScrollableView]="10"
            [typeaheadScrollable]="true">
          <br>
          <ul class="list-group">
            <li *ngFor="let symptom of selectedSymptoms" class="list-group-item">
              {{symptom.name}}
              <span class="float-right fa fa-trash fa-2x icon-pad pointer" (click)="removeSymptom(symptom)">
              </span>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-lg btn-primary btn-block" (click)="suggestDiseases()" [disabled]="selectedSymptoms.length === 0">Find suggested diseases</button>
          <br>
          <ul class="list-group">
            <li *ngFor="let disease of suggestedDiseases" class="list-group-item">
              {{disease.name}}
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-lg btn-primary btn-block" (click)="getConnectedDiseases()" [disabled]="selectedSymptoms.length === 0">Find connected diseases</button>
          <br>
          <ul class="list-group">
            <li *ngFor="let disease of connectedDiseases" class="list-group-item">
              {{disease.name}}
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h2>Disease</h2>
          <label for="disease">Search disease</label>
          <input name="disease" [(ngModel)]="selectedDisease2Name" [typeahead]="allDiseases" class="form-control" typeaheadOptionField="name"
            (typeaheadOnSelect)="diseaseSelected2($event)" [typeaheadMinLength]="0" [typeaheadOptionsInScrollableView]="10"
            [typeaheadScrollable]="true">
          <div class="form-group row">
            <label for="diseaseName" class="col-sm-4 col-form-label">Disease name</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" required id="diseaseName" placeholder="Disease name" [(ngModel)]="selectedDisease2.name"
                name="diseaseName">
            </div>
          </div>
          <button class="btn btn-lg btn-primary btn-block" (click)="findMatchingSymptoms()" [disabled]="selectedSymptoms.length === 0 || !selectedDisease2.name">Find matching symptoms</button>
          <ul class="list-group">
            <li *ngFor="let symptom of foundSymptoms" class="list-group-item">
              {{symptom.name}}
            </li>
          </ul>
        </div>
      </div>
    </tab>
    <tab heading="Diagnosis">
      <div class="row">
        <div class="col-sm-4"></div>
        <form class="form col-sm-4" (ngSubmit)="create()" #diagnosisForm="ngForm">
          <h2>Disease</h2>
          <label for="disease">Search disease</label>
          <input name="disease" [(ngModel)]="selectedDiseaseName" [typeahead]="allDiseases" class="form-control" typeaheadOptionField="name"
            (typeaheadOnSelect)="diseaseSelected($event)" [typeaheadMinLength]="0" [typeaheadOptionsInScrollableView]="10"
            [typeaheadScrollable]="true">
          <div class="form-group row">
            <label for="diseaseName" class="col-sm-4 col-form-label">Disease name</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" required id="diseaseName" placeholder="Disease name" [(ngModel)]="selectedDisease.name"
                name="diseaseName">
            </div>
          </div>
          <br>
          <h2>Prescribed medicine</h2>
          <label for="medicine">Search medicine</label>
          <input name="medicine" [(ngModel)]="selectedMedicineName" [typeahead]="allMedicines" class="form-control" typeaheadOptionField="name"
            (typeaheadOnSelect)="medicineSelected($event)" [typeaheadMinLength]="0" [typeaheadOptionsInScrollableView]="10"
            [typeaheadScrollable]="true">
          <br>
          <ul class="list-group">
            <li *ngFor="let medicine of selectedMedicines" [ngClass]="{'allergic': medicine.isAllergic}" class="list-group-item">
              {{medicine.name}}
              <span class="float-right fa fa-trash fa-2x icon-pad pointer" (click)="removeMedicine(medicine)">
              </span>
            </li>
          </ul>
          <br>
          <button type='button' class="btn btn-lg btn-primary btn-block" [disabled]="selectedMedicines.length === 0" (click)="checkAllergies()">Check allergies</button>
          <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="diagnosisForm.form.invalid || selectedMedicines.length === 0">Create</button>
        </form>
      </div>
    </tab>
  </tabset>
</div>