<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h2>Doctors</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Username</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors">
          <th scope="row">{{doctor.firstName}}</th>
          <th>{{doctor.lastName}}</th>
          <th>{{doctor.username}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>